/* 1280px */
@media (max-width: 1280px) {
    .map,
    .contact-title-container,
    .form-wraper,
    .photos-titles-container {
        max-width: 980px;
        width: 100%;
    }
}

/* 768px */
@media (max-width: 768px) {
    .map,
    .contact-title-container,
    .form-wraper,
    .photos-titles-container {
        max-width: 560px;
        width: 100%;
    }

    .photos-container {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .photos-container img {
        margin-top: 30px;
        width: auto;
    }
}

/* 639px */
@media (max-width: 639px) {
    .footer-wraper,
    .container-ul,
    .aditional-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .footer {
        height: auto;
    }

    .container-ul{
        width: 260px;
        align-items: baseline;
    }

    .card-ul{
        margin-top:15px;
    }
}


/* 576px */
@media (max-width: 576px) {
    .cards {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .card {
        margin-top: 30px;
        /* border:2px solid; */
    }

}

/* 480px */
@media (max-width: 480px) {
    .map,
    .contact-title-container,
    .form-wraper,
    .photos-titles-container {
        max-width: 380px;
        width: 100%;
    }

    .form-wraper {
        margin-top: 30px;
    }
}