@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* header */

.header {
    display: flex;
    margin: 0 auto;
    width: 100%; 
    height: 324px;
    background-image: url(../images/Group\ 68.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.header-wraper {
    max-width: 1088px;
    width: 90%;
    height: 210px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.navigation {
    display: flex;
    max-width: 1088px;
    width: 100%;
    height: 20px;
    justify-content: space-between;
}

.navigation h5 {
    color: #FFFFFF;
    font-weight: bold;
}

.navigation ul {
    display: flex;
}

.navigation ul li a {
    margin-left:24px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
}

.header-contact {
    width: 184px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-contact h1 {
    font-size: 42px;
    color: #FFFFFF;
    font-weight: bold;
}

.header-contact-container {
    display: flex;
    align-items: center;
}

.divider {
    width: 1px;
    height: 19px;
    background-color: white;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

.header-contact a {
    color: #ffffff;
}

/* რუკა */
.map-container {
    margin-top: 50px;
}

.map {
    max-width: 1088px;
    width: 100%;
    height: 286px;
    margin: 0 auto;
}

/* სათაურები */ 
.contact-title-container {
    max-width: 1088px;
    width: 100%;
    /* max-width: 378px;
    width: 100%; */
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.contact-sub {
    max-width: 70px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #5863F8;
    text-transform: uppercase;
}

.contact-title {
    max-width: 378px;
    width: 100%;
    height: 115px;
    font-size: 42px;
    font-weight: 900;
    word-wrap: break-word;
}

.burger-bar {
    display: none;
    font-size: 30px;
    color: #FFFFFF;
}

/* ფორმის სტილები */
.form-container {
    margin-top: 50px;
}

.form-wraper {
    max-width: 1088px;
    width: 95%;
    height: 288px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.left-block {
    max-width: 352px;
    width: 100%;
    max-height: 288px;
    display: flex;
    flex-direction: column;
}

.form-textarea {
    max-width: 720px;
    width: 100%;
    max-height: 288px;
    font-size: 13px;
}

.form-input {
    max-width: 352px;
    width: 100%;
    height: 60px;
    margin-bottom: 16px;
    font-size: 13px;   
}

.form-input,
.form-textarea {
    background-color: #F8F8F8;
    border: 2px solid #E8E8E8;
}

.form-input::placeholder,
.form-textarea::placeholder {
    color: #CECECE;
    padding-left: 20px; 
}

.form-input:focus,
.form-textarea:focus {
    outline: none;
}

.btn-send {
    max-width: 352px;
    width: 100%;
    height: 60px;
    background-color: #5863F8;
}

.btn-content {
    width: 61.25px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
}
/* ქარდის სტილები */
.cards-container {
    margin-top: 50px;
}

.cards {
    max-width: 1088px;
    width: 100%;
    height: 144px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 362px;
    width: 100%;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-logo-container {
    width: 59px;
    height: 58px;
    border-radius: 30px;
    background-color: #5863F8;
    color: #ffffff;
    position: relative;
}

.card-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title h3{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    width: 100%;
    text-align: center;
    color: #B1B1B1;
    font-size: 14px;
}

.card-text ul li {
    line-height: 25px;
}

/* photos */
.photos-section {
    margin-top: 90px;
}

.photos-titles-container {
    max-width: 573px;
    height: 135px;
    display: flex;
    flex-direction: column;
}

.photo-title {
    max-width: 565px;
    width: 100%;
    max-height: 115px;
    height: 100%;
    font-size: 42px;
    word-wrap: break-word;
    font-weight: bolder;
}

.photos-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* footer styles */

.footer {
    width: 100%;
    height: 395px;
    margin-top:10px;
    position: relative;
    bottom: 0;
    border:1px solid;
    background-color: #121212;
    padding-top:90px;
}

.footer-wraper {
    max-width: 1026px;
    width: 100%;
    height: 191px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin:0 auto;
}

.footer-about-container {
    max-width: 260px;
    width: 100%;
    height: 191px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-about-container h2{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.footer-about-container p{
    color: #B1B1B1;
    font-size: 14px;
}

.footer-about-container ul {
    display: inline;
}

.footer-about-container ul li{
    display: inline;
}

.container-ul {
    max-width: 566px;
    width: 100%;
    height: 155px;
    display: flex;
    justify-content: space-between;
}

.card-ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.card-ul h4 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}

.card-ul ul {
    display: inline;
}

.card-ul ul li {
    color:#5863F8;
    font-size: 14px;
    font-weight: 900;
    margin-top:10px;
}

.icon-text-container {
    display: flex;
}

.icon {
    color: #5863F8;
}

.custom-li {
    margin-top: 20px !important;
}

.icon-text-container span{
    margin-left: 14px;
    color: #FFFFFF;
    font-size: 14px;
}

.aditional-container {
    max-width: 1088px;
    height: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}

.aditional-container span {
    color: #FFFFFF;
}